.board-container {
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: #0D1619;
    color: var(--bg-light-color);
    padding: 25px;
}

.flex-container {
    display: flex;
    margin-top: 5vh;
}