button {
  height: min-content;
  width: 95%;
  background-image: linear-gradient(
    60deg,
    hsl(187deg 100% 74%) 0%,
    hsl(162deg 100% 72%) 22%,
    hsl(119deg 100% 73%) 50%,
    hsl(60deg 100% 76%) 100%
  );
  background-position: 0% 0;
  background-size: 200% 200%;
  border-radius: 10px;
  border: none;
  padding: 12px 48px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  transition: all 1s ease;
  /* color: var(--bg-light-color); */
  text-transform: uppercase;
}



.input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: min-content;
  width: min-content;
  margin: 15px 10px;
  padding: 3px;
  font-size: 16px;
  font-weight: 200;
  transition: all 1s ease;
  color: var(--bg-dark-color);
  border: none;
  
  background: linear-gradient(60deg,
  hsl(187deg 100% 74%) 0%,
  hsl(162deg 100% 72%) 22%,
  hsl(119deg 100% 73%) 50%,
  hsl(60deg 100% 76%) 100%);
  background-position: 0% 0;
  background-size: 200% 200%;
  border-radius: 10px;
}

textarea, input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: white;
}

.icon {
  margin: auto 5px ;
  color: var(--bg-dark-color);
  font-size: 20px;
  cursor: pointer; 
}

.trash {
  color: var(--red);
}

.plus {
  color: var(--green);

}

.edit-container {
  display: flex;
  align-items: center;
  height: min-content;
  /* margin-bottom: 20px; */
}

.edit-container-board {
  margin: 10px auto;
}

button:hover, .input-container:hover {
  background-position: 100% 0;
}

.card {
  margin: auto;
  min-width: 85%;
}

.column {
  width: 20vw;
  min-width: 10vw;
  margin: 20px 25px;
}

.edit {
  width: 100%;
  margin: -10px 0px;
}

.new-column {
  margin: 20px 5px;
}
