.column-container {
  min-height: 80vh;
  max-height: 80vh;
  width: 20vw;
  min-width: 15vw;
  margin: 20px;
  background-color: var(--bg-light-color);
  color: var(--bg-dark-color);

  padding: 20px;
  /* overflow-y: auto; */

  scrollbar-width: none;

  text-align-last: center;
}

::-webkit-scrollbar {
  display: none;
}

.column-name {
  text-align: center;
  text-transform: uppercase;
}

.edit-column {
  margin: auto;
}

.edit-board {
  width: 100%;
}