.tag-container {
    width: min-content;
    border-radius: 15px;
    padding: 1px 10px 4px;
    background-color: var(--blue);
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}

.yellow {
    background-color: var(--yellow);
}

.red {
    background-color: var(--red);
}

.pink {
    background-color: var(--pink);
}